
.form-section {
    background: url('../assets/background.webp') no-repeat;
    background-size: cover; /* opcional */
    width: 100%;
    height: 1000px;

    background-color: var(--cor-primaria);

    margin: auto auto;
    border-radius: 5px;
}

.form-section h3 {
    color: var(--branco-suave); 
    text-align: center;
    font-size: 1rem;
    margin: 1% 0;
}

.form-login {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
}

.form-login label {
    color: #1D3542;
    font-size: 2rem;
    margin: 0 6%;
    margin-top: 30px;

    display: flex;
    flex-direction: column;
}

.form-login label:nth-child(2) {
    margin-top: 1%;
}

.input-email-login,
.input-password-login {
    margin-top: 0.5%;
    padding-left: 2%;

    height: 10.5vh;
    border: none;
    border-radius: 5px;

    background-color: white;

    font-size: 2rem; /* <-- AQUI você define o tamanho da fonte digitada */
}

.input-button-login {
    width: 30%;
    height: 7vh;

    font-size: 2rem;
    font-weight: bold;

    background-color: #b52f11;
    color: var(--branco-suave);

    border: none;
    border-radius: 5px;

    margin: auto auto;
    margin-top: 1%;
}

input::placeholder {
    color: black;
    font-size: 2rem;
}

.linkparaocadastro a {
    word-spacing: 10px;;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin-left: 10px; /* Corrigido aqui */
    text-decoration: none;
    font-size: 3.5rem;
    color: #1D3542;
}

.clique:hover {
    transform: scale(1.01);
}