.container {
  display: flex;
  gap: 1rem;
  padding: 2rem;
  background-color: #f0bd61;
  font-family: Arial, sans-serif;
}

.esquerda, .direita {
  background-color: #fff;
  padding: 1rem;
  border-radius: 4px;
}

.esquerda {
  flex: 2;
}

.direita {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.email input, .cupom input, .cep input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.pedido .item {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.pedido .item img {
  width: 80px;
  border-radius: 8px;
}

.resumo button {
  font-size: 1rem;
  width: 100%;
  padding: 0.8rem;
  background-color: #c4421a;
  color: #fff;
  border: none;
  font-weight: bold;
  margin-top: 0.5rem;
  cursor: pointer;
}

.cupomCep {
  margin-top: 200px;
  display: flex;
  gap: 2rem;
}

.cupom button {
  padding: 0.4rem 1rem;
  background-color: #2b2b3b;
  color: #fff;
  border: none;
  cursor: pointer;
}

.cep span {
  margin: 100px;
  margin-left: 0.5rem;
  color: green;
  font-weight: bold;
}

input::placeholder {
  font-size: 20px; /* diminui o tamanho do placeholder */
  color: #888; /* opcional: muda a cor do placeholder */
  font-style: italic; /* opcional */
}

.forma {
  margin: 20px;
  display: flex;
  align-items: center;
  gap: 10px; /* espaço entre imagem e texto */
  position: relative;
}

.imgPagamento {
  width: 20px;  /* ajuste o tamanho da imagem */
  height: 20px;
  object-fit: contain;
}
