.cabecalho {
    width: 100%;
    height: 247px;

    background-color: #b42e10;

    display: flex;
    align-items: center;
}

.cabecalho a {
    color: var(--branco-suave);
    margin-right: 1%;

    font-size: 1.5rem;
    text-decoration: none;
}

.cabecalhoprincipal {
    display: flex;
    width: 20%;
}
.imgLogo,
.imgLogo img {
    height: 255px;
    width: 255px;
}

.conexoes {
    margin-left: 80px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login, .cardapio, .carrinho, .lista, .sair{
    display: flex;
    width: 390px;
    height: 80px;
    background-color: #F0BD61;
    align-items: center;
    justify-content: center;
    margin: 0%;
    border-radius: 2px;
}

h3 {
    font-size: 3rem;
    color: #1D3542
}

.login h3, .cardapio h3, .carrinho h3, .lista h3, .sair h3 {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 4.2rem;
}

.conexoes img {
    margin-top: 60px;
    margin-left: 80px;
    height: 125px;
    width: 125px;
}