* {
    text-decoration: none;
}

.cabecalho {
    width: 100%;
    height: 100px; /* altura menor e fixa */
    background-color: #b42e10;

    display: flex;
    align-items: center;
    justify-content: space-around; /* melhor equilíbrio */
    padding: 0 1.5rem;
    box-sizing: border-box;
}

/* Remove o espaçamento exagerado */
.cabecalhoprincipal {
    display: flex;
    align-items: center;
}


/* Botões e seções de navegação */
.conexoes {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.home, .login, .cardapio, .carrinho, .lista, .sair {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 40px;
    background-color: #F0BD61;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.home:hover, .login:hover, .cardapio:hover, .carrinho:hover, .lista:hover, .sair:hover {
    background-color: #e2ac3f;
    transform: scale(1.05);
}

.home h3, .login h3, .cardapio h3, .carrinho h3, .lista h3, .sair h3 {
    font-size: 1.7rem;
    color: #1D3542;
    margin: 40px;
    text-decoration: none; 
}

/* Responsivo */
@media (max-width: 768px) {
    .cabecalho {
        flex-direction: column;
        height: auto;
        gap: 0.8rem;
    }

    .conexoes {
        flex-wrap: wrap;
        justify-content: center;
    }
}
