main {
    background-color: var(--amarelo);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boasVindas {
    margin-top: 20px;
    text-align: center;
}

.boasVindas h2 {
    font-size: 2.5rem;
    color: #F0BD61;
}



.principal p {
    text-align: center;
}

.principal p:first-child {
    font-size: 14rem;
    color: var(--azul);
}

.principal p:nth-child(2){
    font-size: 14rem;
    color: var(--laranja);
}

.principal p:nth-child(3){
    font-size: 1rem;
    color: var(--amarelo);
}

.hamburguer{
    width: 1000px;
}

.familiaInback {
    display: flex;
    justify-content: center;
    margin-left: 250px;
    width: 900px;
}

.textoaproveite {
    margin-top: 200px;
    font-size: 10rem;
    text-align: center;
    color: var(--amarelo);
    background-color:var(--azul);
    width: 900px;
    height: 200px;
    border-radius: 20px;
}
