main {
    background-color: var(--amarelo);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boasVindas {
    margin-top: 20px;
    text-align: center;
}

.boasVindas h2 {
    font-size: 2.5rem;
    color: #F0BD61;
}



.principal p {
    text-align: center;
}

.principal p:nth-child(1) {
    font-size: 6rem;
    color: var(--azul);
}

.principal p:nth-child(2){
    font-size: 8rem;
    color: var(--laranja);
}

.principal p:nth-child(3){
    font-size: 10rem;
    color: var(--amarelo);
}

.hamburguer{
    width: 450px;
}

.familiaInback {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    width: 450px;
}

.textoaproveite {
    margin-top: 100px;
    font-size: 5rem;
    text-align: center;
    color: var(--amarelo);
    background-color:var(--azul);
    width: 500px;
    height: 100px;
    border-radius: 20px;
}

.textoinicial p {
    font-size: 2.3rem;
}

