/* Fonte mais bonita, moderna e padrão de UI */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Sessão principal */
.form-section {
    background: url('../../assets/background.webp') no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 170vh;

    margin: auto auto;
    border-radius: 5px;

    font-family: 'Poppins', sans-serif;
}

/* Container do form */
.form-login {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
}

/* Labels modernos */
.form-login label {
    color: #1D3542;
    font-size: 1.5rem;        /* Menor e mais elegante */
    font-weight: 600;

    margin: 0 6%;
    margin-top: 30px;

    display: flex;
    flex-direction: column;
}

/* Inputs grandes e bonitos */
.form-login input[type="text"],
.form-login input[type="email"],
.form-login input[type="password"],
.form-login input[type="date"] {
    margin-top: 0.5%;
    padding-left: 2%;

    height: 9vh;
    border: none;
    border-radius: 5px;

    background-color: #fff;

    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    color: #000;
}

/* Placeholder suave */
.form-login input::placeholder {
    color: rgb(146, 140, 140);
    font-size: 1rem;
}

/* Botão estiloso */
.input-button-login {
    width: 30%;
    height: 6.5vh;

    font-size: 1.5rem;
    font-weight: 600;

    background-color: #b52f11;
    color: white;

    border: none;
    border-radius: 5px;

    margin: auto auto;
    margin-top: 2%;
    cursor: pointer;

    transition: 0.2s ease-in-out;
}

.input-button-login:hover {
    transform: scale(1.03);
    background-color: #93250e;
}
