* {
    padding: 0px;
}

.form-section {
    background: url('../assets/background.webp') no-repeat;
    background-size: cover;
    width: 100%;
    height: 1500px;
    background-color: var(--cor-primaria);
    margin: auto auto;
    border-radius: 5px;
}

.form-section h3 {
    color: var(--branco-suave);
    text-align: center;
    font-size: 2rem;
    margin: 1% 0;
}

.form-login {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.form-login label {
    color: #1D3542;
    font-size: 1.8rem;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-login input[type="text"],
.form-login input[type="email"],
.form-login input[type="password"],
.form-login input[type="date"] {
    margin-top: 0.5rem;
    padding: 1rem;
    height: 5.5rem;
    font-size: 2rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
}

.input-button-login {
    width: 50%;
    height: 9vh;
    font-size: 2.3rem;
    font-weight: bold;
    background-color: #b52f11;
    color: var(--branco-suave);
    border: none;
    border-radius: 5px;
    margin: 2rem auto 0 auto;
}
