.form-section { background: url('../assets/background.webp') no-repeat; background-size: cover; width: 100%; height: 1000px; background-color: var(--cor-primaria); margin: auto auto; border-radius: 5px; } .form-section h3 { color: var(--branco-suave); text-align: center; font-size: 2rem; margin: 1% 0; }
.perfilContainer {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

/* ====== Formulário ====== */
.perfilForm {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 3rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* ====== Imagem de perfil ====== */
.perfilImagem {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s;
}

.perfilImagem:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

/* ====== Campos de entrada ====== */
.perfilLabel {
    align-self: flex-start;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #333;
}

.perfilInput {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

/* ====== Botão ====== */
.perfilBotao {
    width: 100%;
    padding: 0.8rem;
    background-color: #b42e10;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background 0.2s;
}

.perfilBotao:hover {
    background-color: #92240d;
}

/* ====== Modal (pop-up) ====== */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modalBotoes {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.modalBotoes button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

.modalBotoes button:hover {
    background-color: #0056b3;
}
